<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- =============== JQUERY + JAVASCRIPT REFERENCES =============== -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- =============== CSS EMBEDDED STYLE =============== -->

    <style>
        .jumbotron {
            margin-top: 20px;
            background-image: url("https://media.giphy.com/media/3o7TKEKWFRN9ljUjle/giphy.gif");
            background-size: cover;
            color: white;
        }
    </style>

    <!-- =============== CSS REFERENCES =============== -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>
        Strib Scraper
    </title>
</head>

<body>
    <div class="container">
        <nav id="mainnav" class="navbar navbar-expand-lg navbar-light bg-muted">
            <a class="navbar-brand" href="/scraped">Local News Scraper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/scraped">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/saved">Saved Arcticles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="scrapeNav">Scrape Articles</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary" id="scrapeBtn">Scrape Articles</button>
                <a id="clear" class="btn btn-danger" href="/clear" role="button">Clear</a>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">Strib Scraper</h1>
            <p class="lead">Local News from the Star Tribune</p>
            </br>
            <button type="button" class="btn btn-primary btn-lg" id="scrapeJumbo">Scrape Articles</button>
        </div>
        {{{ body }}}
    </div>

    <!-- =============== JAVASCRIPT REFERENCES =============== -->
    <script src="/assets/js/app.js"></script>
</body>

</html>