/******************** GLOBAL STYLES ******************************/

  /*global type*/
  * {
    font-family: 'Roboto', sans-serif;
  }


/******************** MAIN.HBS STYLES ******************************/

  /*navband type*/
  .navbar-brand {
    font-family: 'Roboto Slab', bold, serif;
  }

  /*nav hover*/
  li:hover {
    transition: 0.2s;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*JUMBO sizing*/
  .jumbotron {
    background-image: url("https://media.giphy.com/media/v2xIous7mnEYg/giphy.gif");
    background-size: cover;
    color: white;
    margin: 0px, 0px, 20px, 0px;
    height: 500px;
    text-align: center;
  }

  /*JUMBO type*/
  .display-4 {
    font-family: 'Roboto Slab', bold, serif;
    font-size: 120px;
  }

  .lead {
    font-family: 'Roboto', medium, sans-serif;
    padding-top: 10px;
  }

  /*horizontal line*/
  #jumboLine {
    border: 2px dotted white;
    width: 50%;
  }

/******************** INDEX.HBS STYLES ******************************/

  /*empty scraped message*/
  #emptyScrape {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  /*CTA button styling*/
  #scrapeBtn {
    color: black;
    font-size: 22px;
  }

  .btn-secondary {
    font-weight: bold;
  }

  .btn-success {
    font-weight: bold;
  }

  /*button states*/
  #scrapeBtn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #28A745;
    font-weight: bold;
    }
    
/******************** SAVED.HBS STYLES ******************************/

  /*empty saved message*/
  #emptySaved {
    font-size: 30px;
    font-weight: bold;
  }

  /*button styling*/
  #backButton {
    color: black;
    font-size: 22px;
  }

  /*add a note*/
  .btn-primary {
    font-weight: bold;
    border: 1px #707981;
    background-color: #707981;
  }

  /*remove saved article button*/
  .btn-danger {
    font-weight: bold;
    margin-left: 10px;
  }

  /*button states*/
  #backButton:hover {
      color: #28A745;
      font-weight: bold;
      text-decoration: underline;
    }

    .btn-primary:hover {
      border: 1px #707981;
      background-color: #5C646A;
    }
  
/******************** INDEX AND SAVED.HBS SHARED STYLES ******************************/

  /*style for border around articles*/
  #cardBorder {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /*div for text and button*/
  #centerSpace {
    text-align: center;
  }

  /*card header*/
  .card-header {
    background: #484848;
    color: #ffffff;
  }

  /*card title for all articles*/
  h5 {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
  }

  /*article summary header*/ 
  h6 {
    font-family: 'Roboto Slab', bold, serif;
    font-weight: bold;
    font-size: 20px;
  }

  /*summary paragraph styles*/ 
  #pSummary {
    font-size: 19px;
  }


/******************** MEDIA BREAKS ******************************/

@media (max-width: 780px) {
  .jumbotron {
    height: 200px;
  }
  h5 {
    font-size: 19px;
  }
  .btn-success {
    padding: 10px;
  }
  .btn-secondary {
    padding: 10px;
  }
  .btn-danger {
    padding: 10px;
  }
  .btn-primary {
    padding: 10px;
  }
}

@media (max-width: 980px) {
  jumbotron {
    height: 250px;
  }
  h5 {
    font-size: 19px;
  }
  .btn-success {
    padding: 10px;
  }
  .btn-secondary {
    padding: 10px;
  }
  .btn-danger {
    padding: 10px;
  }
  .btn-primary {
    padding: 10px;
  }
}

/**************************************************/